* {
    margin: 0;
    padding: 0;
}

.Header {
    display: flex;
    justify-content: space-between;
    background-color: #1D252D;
    color: #ffffff;
    padding: 2rem 2rem 2rem 0;
}

.Header-Logo {
    display: flex;
    align-items: center;
}

.Header-Logo img {
    padding-left: 1rem;
    padding-right: 2rem;
}

.Header-Nav {
    display: flex;
    align-items: center;
}

.Header-Nav nav {
    display: flex;
    gap: 4rem;
}

.Header-Nav nav li {
    list-style: none;
}

.Header-Nav nav li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.Header-Nav .Link-a a::content {
    padding-right: 1rem;
  }

.Header-Nav .Link-a img {
  padding-right: 1rem;
}

#toggle_checkbox {
    display: none;
}

label {
    width: 40px;
    height: 20px;
    background-color: #143240;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
    /* Mueve a la izquierda */
}

#toggle_checkbox:checked+label {
    background-color: red;
}


/* TOGGLE BUTTON STYLES */
.toggle-btn {
    position: relative;
    width: 80px;
    /* Reducir el ancho */
    height: 40px;
    /* Reducir la altura */
    margin: 0 auto;
    border-radius: 20px;
    /* Ajustar el radio de borde */
}

input[type="checkbox"] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#_1st-toggle-btn span {
    position: absolute;
    top: 0;
    right: -18px;
    bottom: 0;
    left: 20px;
    overflow: hidden;
    opacity: 1;
    background-color: #fff;
    box-shadow: 0 2px 10px #d9d9d9;
    /* Reducir la intensidad de la sombra */
    border-radius: 20px;
    /* Ajustar el radio de borde */
    transition: 0.2s ease background-color, 0.2s ease opacity;
}

#_1st-toggle-btn span:before,
#_1st-toggle-btn span:after {
    content: "";
    position: absolute;
    top: 4px;
    /* Ajustar la posición vertical */
    width: 32px;
    /* Reducir el ancho */
    height: 32px;
    /* Reducir la altura */
    border-radius: 50%;
    transition: 0.5s ease transform, 0.2s ease background-color;
}

#_1st-toggle-btn span:before {
    background-color: #fff;
    transform: translate(-32px, 0);
    z-index: 1;
}

#_1st-toggle-btn span:after {
    background-color: #000;
    transform: translate(4px, 0);
    z-index: 0;
}

#_1st-toggle-btn input[type="checkbox"]:checked+span {
    background-color: #000;
}

#_1st-toggle-btn input[type="checkbox"]:active+span {
    opacity: 0.5;
}

#_1st-toggle-btn input[type="checkbox"]:checked+span:before {
    background-color: #000;
    transform: translate(30px, -15px);
}

#_1st-toggle-btn input[type="checkbox"]:checked+span:after {
    background-color: #fff;
    transform: translate(42px, 0);
}